/**************************/
/*   styles for navbar   */
/************************/

.green {
  background-color: green;
}

.navbar {
  float: left;
  list-style-type: none;
  background-color: lightgreen;
  width: 200px;
  padding: 0;
  margin-top: 10px;
  margin-left: 10px;
}

.navbarline {
    display: block;
    text-decoration: none;
    font-weight: bold;
      color: black;
}

.navbarline:hover {
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: green;
    background-color: tan;
}


/**************************/
/* styles for cat vs dog */
/************************/

#cvdtitle {
  text-align: center;
}

.cvdimgs {
  height: 200px;
}

#moreanimals {
  color: blue;
  text-decoration: underline;
}

#moreanimals:hover {
  color: lightblue;
  text-decoration: underline;
  cursor: pointer;
}
